DOCUMENTINTELLIGENCE_ENDPOINT=https://doc-intel-resume-pro.cognitiveservices.azure.com/
DOCUMENTINTELLIGENCE_KEY=paste-your-key
LANGUAGE_ENDPOINT=https://lang-resume-pro.cognitiveservices.azure.com/
LANGUAGE_KEY=paste-your-key
STORAGE_CONNECTION_STRING=paste-your-full-connection-string
BLOB_CONTAINER_NAME=resumes
